$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.offcanvas-body .nav-link:hover{
    color: black !important;
    border-color: black !important;
}
body{
    background-color: $almost-white;
}
@media (max-width:992px){
    div.mainbody{
        margin:0px auto;
        width: 100%;
    }

}
@media (min-width:992px){
    div.mainbody{
        margin:0px auto;
        width: 80%;
    } 
    .d-flex .flex-lg-column>h1{
        font-size: 3.3rem !important;
    }

}
// img.d-none.d-lg-block.img-fluid{
//     width: 88%;
// }

